.headerContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;

  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.headerContent {
  img {
    width: 3rem;
    height: 3rem;
  }
  width: 1200px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      list-style: none;
    }
    a {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      color: #737380;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #41414d;
      }
    }
    a:nth-child(3) {
      padding: 0.5rem 3rem;
      border-radius: 1rem;
      background-color: #1A365D;
      color: #EBF8FF;
      font-weight: bold;
    }

  }
}